{
  "semi": false,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}