@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
  height: 100dvh;
}

/* Стили для всех скроллбаров */
::-webkit-scrollbar {
  width: 12px; /* Ширина вертикального скроллбара */
  height: 12px; /* Высота горизонтального скроллбара */
}

/* Фон скроллбара */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона трека */
}

/* Ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background: #888; /* Цвет ползунка */
  border-radius: 10px; /* Закругление углов ползунка */
}

/* Ползунок при наведении */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ползунка при наведении */
}

/* Для Firefox */
* {
  scrollbar-width: thin; /* Устанавливаем тонкий скроллбар */
  scrollbar-color: #888 #f1f1f1; /* Цвет ползунка и трека */
}

/* Стиль контейнера с внутренним скроллбаром */
.scroll-container {
  padding-right: 12px; /* Отступ для места под скроллбар */
  overflow-y: auto; /* Вертикальная прокрутка */
  background-color: white; /* Цвет фона контейнера */
}
